.wrapper{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position:absolute;
}

.roxo{
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    position:relative;
    background-color: #8B87B4;
}

.logo{
    position: relative;
    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
    background: #2C285E;
    box-shadow: 5px 0px 10px #00000040;
}

.c1{
    position: absolute;
    width: 28%;
    height: 57%;
    border-radius: 50%;
    left: 11%;
    top: 22%;
    background: #3B3770;
}

.c2{
    position: absolute;
    width: 28%;
    height: 57%;
    border-radius: 50%;
    left: 36%;
    top: 22%;
    background: #715697;
}

.c3{
    position: absolute;
    width: 28%;
    height: 57%;
    border-radius: 50%;
    left: 61%;
    top: 22%;
    background: #8883BB;
}

.menu{
    position: relative;
    width: 10%;
    height: 86%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #3B3770 0%, #715697 100%);
    mix-blend-mode: normal;
    box-shadow: 5px 0px 10px #00000040;
}

.menu-texto{
    position: absolute;
    top: 5%;
    left: 7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align:center;
    text-decoration: none;
    font-size: 20px;
    line-height: 33px;
    color: #E4DAE8;
}

a:link{
    color: #E4DAE8;
    text-decoration: none;
}

a:visited{
    color: #E4DAE8;
    text-decoration: none;
}

.pag-inicial{
    width: 90%;
    height: 90%;
    right: 0;
    top: 10%;
    position:absolute;
    background-image:url(imagens/img2.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}

.gradiente{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(360deg, #D9D9D9 43%, #d9d9d9b1 80%, #d9d9d96c 95%, #d9d9d900 100%);
}

.caixa-texto1{
    position: absolute;
	width:65%;
	height:75%;
	right:10%;
    left: 24%;
	top:10%;
    background: #ffffff80;
    border-radius: 20px;
}

.caixa-texto2{
    position: absolute;
	width:85%;
	height:85%;
	right:7.5%;
	top:5%;
    background: #ffffff80;
    border-radius: 20px;
}

#img{
    position: absolute;
	border-radius: 20px;
    max-height: 62%;
    position:absolute;
    top: 16%;
    right: 70%;;
}

.titulo1{
    color:#302b7c;
	position:absolute;
	left:14%;
	top:2%;
	font-family:Baskerville Old Face;
	text-align:center;
	font-size:35px;
}

.texto1{
    position: absolute;
    left: 14%;
    top: 26%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #1c194b;
    line-height: 25px;
}

.texto2{
    position: absolute;
    left: 38%;
    top: 26%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px ;
    color: #83708A;
    line-height: 25px;
}

#e1{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 14%;
    top: 20%;
}

#e2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 17%;
    top: 20%;
}

#e3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20%;
    top: 20%;
}

#e4{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 23%;
    top: 20%;
}

#e5{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 26%;
    top: 20%;
}

.rodape{
    position: relative;
    width: 100%;
    height: 4%;
    left: 0;
    bottom: 0;
    background: #E8E8E8;
}

.titulo2{
    color:#302b7c;
	position:absolute;
    left: 40%;
    right: 40%;
    top: 0;
	font-family:Baskerville Old Face;
	text-align: center;
	font-size: 40px;
}

.texto3{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px ;
    color: #83708A;
    text-align: center;
}

.titulo3{
    color:#1c194b;
	position:absolute;
    top: -4%;
	left: 25%;
	right: 25%;
	font-family: Baskerville Old Face;
	text-align: center;
	font-size: 40px; 
}

.texto4{
    position: absolute;
    left: 14%;
    top: 18.2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #302b7c;
    line-height: 16.2px;
}

.texto5{
    position: absolute;
    left: 38%;
    right: 5%;
    top: 19%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #83708A;
    line-height: 16px;
}

.texto6{
    position: absolute;
    left: 14%;
    top: 18%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    color: #302b7c;
    line-height: 23.3px;
}

.texto7{
    position: absolute;
    left: 38%;
    right: 5%;
    top: 19%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: #83708A;
    line-height: 17px;
}